.grid-2-1 {
  display: grid;
  grid-template-columns: 60% 30%;
  padding: 3%
}

#header-name{
  font-size: 32px;
  font-family: helvetica;
  line-height: 0px;
  font-weight: 700;
  letter-spacing: 0.5px;
  padding: 0px;
}

#header-price {
  font-weight: 400;
  color: rgb(33, 42, 47);
  line-height: 1.5;
  font-size: 16px;
  letter-spacing: 0.5px;
  margin: 0px 0px 18px;
  padding: 0px;
}